Q1. 하루중 디지털 시계에서 3이 표시되는 시간은 몇 초인가?

In [ ]:
count = 0
for hour in range(24):
    for minute in range(60):
        if '3' in f'{hour}{minute}':
            count += 60
print(count)

Q2. 람다함수, 다음 리스트에서 제조사와 모델명을 분리해서 별도의 리스트를 만드세요

In [2]:
cars = ['buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']
manu = [car.split(' ')[0] for car in cars]
model = [' '.join(car.split(' ')[1:]) for car in cars]
manu, model

(['buick', 'plymouth', 'amc', 'ford'],
 ['skylark 320', 'satellite', 'rebel sst', 'torino'])

In [2]:
cars = ['buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino']
manu_list = list(map(lambda x: x.split()[0], cars))
model_list = list(map(lambda x: ' '.join(x.split()[1:]), cars))
manu_list, model_list

(['buick', 'plymouth', 'amc', 'ford'],
 ['skylark 320', 'satellite', 'rebel sst', 'torino'])

Q3. class Account (계좌)를 만드세요

In [45]:
class Account:
    def __init__(self, ano, owner, balance):
        self.ano = ano
        self.owner = owner
        if 0 <= balance <= 10000000:
            self.balance = balance
        else:
            raise Exception('err')
    
    def deposit(self, amount):
        if self.balance + amount < 10000000:
            self.balance += amount
        else:
            print('err')
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
        else:
            print('err')
    
    def __str__(self):
        return f'계좌번호: {self.ano}, 소유주: {self.owner}, 잔액: {self.balance:10,d}'

In [44]:
try:
    account_a = Account(123, "james", 30000000)
except Exception as e:
    print(e)

err

In [11]:
account_a.deposit(200000)

In [12]:
print(account_a)

계좌번호: 123, 소유주: james, 잔액:    500,000