### 4.1 리스트(List)

In [27]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [28]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 섞어서 사용할 수 있음
person = ['James', 27, 'programer', 175.4]
person

['James', 27, 'programer', 175.4]

- 인덱싱

In [29]:
a[0], a[-1], person[2]

(3, 23, 'programer')

- 슬라이싱

In [30]:
a[1:4], a[:2], a[3:]

([7, 12, 16], [3, 7], [16, 23])

In [31]:
a[::2], a[::-1]

([3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [32]:
a[0] = 1
a[-1] - 31
a

[1, 7, 12, 16, 23]

In [33]:
a[2] = [10, 20]
a

[1, 7, [10, 20], 16, 23]

In [34]:
# 새로 입력한 값 10 인덱싱
a[2][0]

10

In [35]:
# 슬라이싱으로 값을 변경
a[3:] = [45, 78]
a

[1, 7, [10, 20], 45, 78]

In [36]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 45, 78]

In [37]:
a[3] = [10, 20]
a

[100, 200, 300, [10, 20], 45, 78]

In [38]:
a[3][1] = [-1, -3, -5]
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [39]:
a[1:2] = [500, 600]
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [40]:
# 리스트 맨 뒤에 값을 추가시키려면 
a[7] = 20
a

IndexError: list assignment index out of range

In [44]:
a[5:] = 20
a

TypeError: can only assign an iterable

In [41]:
# append methond를 사용해야 함
# Java --> a.add(20)
a.append(20)
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78, 20]

- 빈 리스트 만들기

In [45]:
b = []
c = list()

In [46]:
import random
for i in range(5):
    b.append(random.randint(1, 6))
b

[5, 2, 5, 4, 2]

- 리스트 연산

In [47]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b           # 리스트 연결(Concatanation)

[1, 2, 3, 4, 5, 6]

In [48]:
a * 3       # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
len(a), type(a)

(3, list)

In [50]:
min(a), max(a), sum(a)

(1, 3, 6)

In [53]:
list(reversed(a))

[3, 2, 1]

In [60]:
sorted([44, 8, 9, 3, 25])
# error sorted(44, 8, 9, 3, 25)

[3, 8, 9, 25, 44]

#### Tuyple(튜플)

-일단 생성되면 값을 변경할 수 없음(immutable)

In [61]:
t = (4, 35, 7, 25, 10)
type(t), t

(tuple, (4, 35, 7, 25, 10))

In [62]:
t = 4, 6, 12        # 괄호는 생략가능
type(t)

tuple

In [69]:
# 주의!! 한개의 원소를 갖는 튜플
x = (4)
y = 4,
type(x), type(y)

(int, tuple)

In [70]:
# 리스트와 동일하게 인덱싱할 수 있음
t[0]

4

In [71]:
# 값을 변경할 수 없음
t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/Tuple unpacking

In [72]:
x, y, z = (10, 20, 30)
x, y, z

(10, 20, 30)

In [74]:
x, y, z = [3, 4, 5]
x, y, z

(3, 4, 5)

In [76]:
x,

(3,)

In [78]:
list('ABC')

['A', 'B', 'C']

In [81]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')

In [82]:
x

'A'

In [83]:
x,

('A',)