### 4.4 딕셔너리(Dictionary)

In [32]:
person_list = ['Jamas', 27, 'programmer', 175.8]
person_dict = {'name' : 'James', 'age' : 27, 'job' : 'programmer', 'height' : 175.8}
type(person_dict), person_dict

(dict, {'name': 'James', 'age': 27, 'job': 'programmer', 'height': 175.8})

- 인덱싱

In [11]:
person_dict['name'], person_dict['age'], person_dict['job'], person_dict['height']

('James', 27, 'programmer', 175.8)

In [13]:
key = 'age'
person_dict[key]

27

In [15]:
person_dict.get('age'), person_dict.get('name')

(27, 'James')

In [16]:
person_dict.keys(), person_dict.values(), person_dict.items()

(dict_keys(['name', 'age', 'job', 'height']),
 dict_values(['James', 27, 'programmer', 175.8]),
 dict_items([('name', 'James'), ('age', 27), ('job', 'programmer'), ('height', 175.8)]))

- 복잡한 딕셔너리

In [17]:
terestrial_planet = {
    'Mercury' : {
        'mean_radius' : 2439.7,
        'mass' : 3.3022E+23,
        'orbital_period' : 87.969
    },
    'Venus' : {
        'mean_radius' : 6051.8,
        'mass' : 4.8676E+24,
        'orbital_period' : 224.70069
    },
    'Earth' : {
        'mean_radius' : 6371.0,
        'mass' : 5.97219E+24,
        'orbital_period' : 365.25641
    },
    'Mars' : {
        'mean_radius' : 3389.5,
        'mass' : 6.4185E+23,
        'orbital_period' : 686.9600
    }
}

In [18]:
# 지구의 평균 반지름
terestrial_planet['Earth']['mean_radius']

6371.0

In [19]:
terestrial_planet.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars'])

In [20]:
terestrial_planet['Earth'].keys()

dict_keys(['mean_radius', 'mass', 'orbital_period'])

- 딕셔너리 값 변경하기/추가하기

In [21]:
# 기존 key값에 value를 할당하면 수정
person_dict['job'] = 'engineer'
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8}

In [22]:
# 없는 key값에 value를 할당하면 새로운 key:value 쌍이 추가됨
person_dict['gender'] = '남'
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8, 'gender': '남'}

In [26]:
person_dict.setdefault('weight', 70)
person_dict

{'name': 'James',
 'age': 27,
 'job': 'engineer',
 'height': 175.8,
 'gender': '남',
 'weight': None}

In [42]:
person_dict.update(weight = 70)
person_dict

{'name': 'James',
 'age': 27,
 'job': 'programmer',
 'height': 175.8,
 'weight': 70}

- 값 제거하기
    - pop: key를 인수로 주고, 값이 반환되면서 item이 삭제
    - del

In [43]:
person_dict.pop('weight')
person_dict

{'name': 'James', 'age': 27, 'job': 'programmer', 'height': 175.8}

In [44]:
value = person_dict.pop('gender')
value

KeyError: 'gender'

In [45]:
del person_dict['height']
person_dict

{'name': 'James', 'age': 27, 'job': 'programmer'}

In [46]:
person_dict.clear()
person_dict

{}

- in 연산자

In [47]:
'Jupyter' in terestrial_planet

False